body{
    background-color: blue;
    font-family: 'Roboto', sans-serif;
    background:url(./assets/topo02.jpg) ;
    background-size: cover;
    height: 100vh;/*body ocupa toda tela*/
    justify-content: center;
    align-items: center;
    background: no-repeat;
 
}
#full {
    place-items: center;
    display: block;

    
}
#topo{
    display: flex;

padding-left: 490px;
margin-top: 20px;
gap: 7px; 
font-size: medium;

}

p{
    margin: 7px;
    color: white;
    
}



#login {
    display: inline-block;
    background-color: white;
    padding: 40px;
    margin-left: 180px;
    margin-right: 680px;
    margin-top: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 450px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#nome-de-usuario{
  font-size: medium;
  

  
}

#senha{
    font-size: medium;
    margin-top: 30px;
    
}

#lembra-me{
    font-size: medium;
    margin-top: 30px;
}

#entrar{
    font-size: 1rem;
margin-top: 30px;
}


#bentrar{
background-color: blue;
color: white;
border-radius: 100px;
width: 430px;
height: 59px;
font-size: large;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#username{
    background-color: aliceblue;
    border-radius: 100px;
    width: 430px;
    height: 51.7px; 
    text-indent: 10px;/*da espaço do texto para o botão*/
    font-size: large;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#password{
    background-color: aliceblue;
    border-radius: 100px;
    width: 430px;
    height: 51.7px;
    text-indent: 10px;/*da espaço do texto para o botão*/
    font-size: large;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    }

  
 #one{
color: black;
  }
  #two{
    color:black
  }

  #enter{
color: rgb(5, 5, 124);
font-size: xx-large;
font-family: 'Poppins', sans-serif;
display: flex;

}
#ce{
    color: rgb(77, 77, 239);
  
}

#logosite{
    display:inline;
    
    
}
#topimg{
margin-left: -450px;
padding-right: 150px;
}

a {
    text-decoration: none;
}